{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <!-- Jumbotron for cta -->
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Check-out Cart</h1>
            <hr class="my-4">
            <p class="lead">
            </p>
        </div>
    </div>

    <!-- Content just as default data for now -->

    <form id="CartCSS">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
            
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">(where description will go)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">(where description will go)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">(where description will go)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
               
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">(Where description will go)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">(where description will go)</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price</small>
                </div>
            </div>
        </div>
    </div>
    </form>
    <p class="lead" style="padding-top:200; text-align:center;"> (Total sum of Your Order)
        <br>
        <a id="CartToCheckout" href="{% url 'checkout' %}">Checkout Order</a>
    </p>
</div>

{% endblock content %}