{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <!-- Jumbotron for cta -->
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-4">Check-out Cart</h1>
            <hr class="my-4">
            <p class="lead">
            </p>
        </div>
    </div>

    <!-- Content just as default data for now -->

    <div class="row">
        {% for furby in furbies %}
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/' %}{{ furby.imagePath }}" alt="{{ furby.imagePath }}">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">{{ furby.furbyName }}</h5>
                    </div>
                    <p class="card-text">{{ furby.description }}</p>
                    <div class="text-center">
                        <b>${{ furby.cost }}</b>
                    </div>
                    <div class="text-center">
                        <button type="button" id="{{furby.pk}}" class="btn btn-danger" onclick="removeFromCart(this)">-
                            Remove</button>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <label>No Furbies, make sure there are furbies in DB (admin).</label>
        {% endfor %}
    </div>

    <p class="lead" style="padding-top:200; text-align:center;"> Grand Total: ${{total}}
        <br>
        <a id="CartToCheckout" href="{% url 'checkout' %}">Checkout Order</a>
    </p>
</div>

<script>
    function removeFromCart(button)
    {
        window.location.href = "/removeFromCart/?furbyID="+button.id;
    }
</script>

{% endblock content %}