{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Jumbotron for cta -->
    <div class="jumbotron text-center">
        <h1 class="display-4">History</h1>
    </div>
    <hr/>

    <!-- Content just as default data for now -->
    <div class="row">
        {% for furby in furbys %}
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/' %}{{ furby.imagePath }}" alt="{{ furby.imagePath }}">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">{{ furby.furbyName }}</h5>
                    </div>
                    <div class="text-center">
                        <b>${{ furby.cost }}</b>
                    </div>
                    <div class="text-center">
                        {{furby.orderDate}}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <label>No Furbies bought yet.</label>
        {% endfor %}
    </div>
 
</div>

{% endblock content %}

