{% extends 'base.html' %}
{% load static %}

{% block content %}
<body id="genericBackgroundHome">
<div class="container" >
    <!-- Jumbotron for cta -->
    <!-- <div class="row">
        <div class="jumbotron">
            {% if user.is_authenticated %}
            <h1 class="display-4">Welcome {{ request.user.firstName|capfirst }}!</h1>
            {% else %}
            <h1 class="display-4">Welcome To Furbalicious!</h1>
            {% endif %}

            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>To checkout the Furby Collection!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div> -->
    <form class="homeBorder">
    <div class="row" style="margin-top: 50px;">
        {% for furby in furbys %}
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/' %}{{ furby.imagePath }}" alt="{{ furby.imagePath }}">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">{{ furby.furbyName }}</h5>
                    </div>
                    <p class="card-text">{{ furby.description }}</p>
                    <div class="text-center">
                        <b>${{ furby.cost }}</b>
                    </div>
                    <div class="text-center">
                        <button type="button" id="{{furby.pk}}" class="btn btn-primary" onclick="addToCart(this)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <label>No Furbies, make sure there are furbies in DB (admin).</label>
        {% endfor %}
    </div>
    </form>

    <script>
        function addToCart(button)
        {
            window.location.href = "/addToCart/?furbyID="+button.id;
        }
    </script>

</div>   
</body> 

    {% endblock content %}