{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Jumbotron for cta -->
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Furbalicious!</h1>
</div>

<hr/>

<form>
    <div class="row" style="margin-top: 50px;">
        {% for furby in furbys %}
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/' %}{{ furby.imagePath }}" alt="{{ furby.imagePath }}">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">{{ furby.furbyName }}</h5>
                    </div>
                    <p class="card-text">{{ furby.description }}</p>
                    <div class="text-center">
                        <b>${{ furby.cost }}</b>
                    </div>
                    <div class="text-center">
                        <button type="button" id="{{furby.pk}}" class="btn btn-success" onclick="addToCart(this)">+ Add to
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="text-center">
            <label>No Furbies, make sure there are furbies in DB (admin).</label>
        </div>
        {% endfor %}
    </div>
</form>

<script>
    function addToCart(button) {
        window.location.href = "/addToCart/?furbyID=" + button.id;
    }
</script>


{% endblock content %}