{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Jumbotron for cta -->
    <div class="row">
        <div class="jumbotron">
            {% if user.is_authenticated %}
            <h1 class="display-4">Welcome {{ request.user.firstName|capfirst }}!</h1>
            {% else %}
            <h1 class="display-4">Welcome To Furbalicious!</h1>
            {% endif %}

            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>To checkout the Furby Collection!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>

    <div class="row">
        {% for furby in furbys %}
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/furby_generic.svg' %}"
                    style="height: 175; width: 200px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ furby.furbyName }}</h5>
                    <p class="card-text">{{ furby.description }}</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        {% empty %}
        <label>No Furbies, make sure there are furbies in DB (admin).</label>
        {% endfor %}
    </div>

    <!-- Content just as default data for now -->
    <!-- <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/furby_generic.svg' %}"
                    style="height: 175; width: 200px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/furby_generic.svg' %}"
                    style="height: 175; width: 200px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/furby_generic.svg' %}"
                    style="height: 175; width: 200px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/furby_generic.svg' %}"
                    style="height: 175; width: 200px;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock content %}