.form-group{
    margin-bottom: 15px;
}

ul.nav > li:hover{
    background-color: #2779BF;
}

 .homeBorder{
    background-color: lightblue;
    border: 10px solid #555;
    text-align: center;
    margin:auto;
    width:100%;
    
}
 .card{
     margin-top: 15px;
 }

 #pageTitle{
     text-align: center;
 }

 .card{
     width: 250px;
     margin-top: 15px;
 }
